.sq1 {
    width: 1em;
    height: 1em;
    background-color: aquamarine;
    position: absolute;
}
.sq2 {
    width: .6em;
    height: .6em;
    background-color: rgb(255, 242, 225);
    position: absolute;
    top:.2em;
    left: .2em;
    animation: rotate 3s infinite ease-in-out;
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
@keyframes rotate {
    0%,100% { transform: rotateX(); }
    25%, 75% { transform: rotateX(10deg) rotateY(90deg) rotateZ(30deg); }
    50% { transform: rotateY(180deg); }
}

.container {
    font-size: 200px !important;
    position: relative;
}